@font-face {
    font-family: Miama Nueva;
    /* Гарнитура шрифта */
    src: url(font/ofont.ru_Miama\ Nueva.ttf);
    /* Путь к файлу со шрифтом */
}

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header {
    background: #fdfdfd;
}

.content {
    background: #fbfbfb;
}

.content-main {
    position: relative;
    background: url(img/gypsophila_4.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.content-main-logo {
    text-shadow: 0px 1vh 1vh rgba(0, 0, 0, 0.25);
}

#NameM {
    color: rgba(0, 0, 0, 0.7);
    font-family: Miama Nueva;
    font-size: 6vh;
    font-weight: 400;
    letter-spacing: 0.1vw;
    position: relative;
    left: -10vw;
}

#NameW {
    color: rgba(0, 0, 0, 0.7);
    font-family: Miama Nueva;
    font-size: 6vh;
    font-weight: 400;
    letter-spacing: 0.1vw;
    position: relative;
    left: 10vw;
}

#and {
    color: rgba(0, 0, 0, 0.3);
    font-family: Miama Nueva;
    font-size: 16vh;
    font-weight: 400;
    text-align: center;
    margin: 0px;
}

.content-main-clock {
    border-top: 0.1vh solid rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 255, 0.49);
    width: 100vw;
    box-shadow: 0px 1vh 3vh rgba(122, 122, 122, 0.5);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0vh 15vw;
}

.bloc-time {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
}


.content-main-clock span {
    padding-top: 5vh;
    width: 15vh;
    height: 5vh;
    transform: skew(-30deg, 0deg);
    box-sizing: border-box;
    border: 0.3vh solid rgba(0, 0, 0, 0.2);
    border-radius: 1vh;
    background: radial-gradient(69.00% 69.00% at 50% 50%, rgba(161, 162, 161, 0) 37.696%, rgb(220, 227, 220) 100%);
}

.bloc-time p {
    color: rgba(0, 0, 0, 0.7);
    font-family: Miama Nueva;
    font-size: 2.5vh;
    font-weight: bolder;
}

.bloc-time span p {
    transform: skew(30deg, 0deg);
    color: rgb(0, 0, 0);
    font-size: 3vh;
    position: absolute;
    top: 50%;
    left: 47%;
    margin-top: -0.5em;
    margin-left: -0.625em;
}

.content-main-final p {
    opacity: 0.84;
    color: rgba(0, 0, 0, 0.7);
    font-family: Miama Nueva;
    font-size: 3vmax;
    font-weight: 600;
    line-height: 8vmax;
    text-align: center;
}

.content-one {
    position: relative;
    /* background: linear-gradient(90deg, #f2f0f1 0%, #f9f9f9 30%, #f8fafa 50%, #f7f6f8 100%); */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-one .elips {
    z-index: 10;
    display: flex;
    flex-basis: content;
    contain: content;
    flex-direction: column;
    background-color: #DCE3DC;
    width: 250vw;
    height: 90vh;
    border-radius: 50%;
    justify-content: space-around;
    align-items: center;
}

.content-one .linear {
    z-index: 10;
    position: absolute;
    top: 20%;
    background-image: url(img/Линия\ 2.svg);
    width: 95vmax;
    height: 15vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    align-items: center;
    justify-content: space-around;
}

.content-one .card {
    height: 13vmax;
    background-color: #fbfbfb;
}

.content-one .card img {
    margin: 1vh;
    width: 90%;
    height: 70%;
}

.content-one .cont-card {
    display: flex;
    padding-top: 5vh;
    gap: 6vh 11vw;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
}

.content-one .cont-card .one {
    transform: rotate(10deg);
    z-index: 9;
}

.content-one .cont-card .two {
    /* transform: rotate(5deg) translateY(-6vh); */
    transform: rotate(-5deg) translateY(0vh);
    z-index: 11;
}

.content-one .cont-card .three {
    /* transform: rotate(-8deg) translateY(-13vh); */
    transform: rotate(-8deg) translateY(-0vh);
    z-index: 11;
}

.content-one .cont-card .four {
    /* transform: rotate(5deg) translateY(-4vh); */
    transform: rotate(5deg) translateY(0vh);
    z-index: 9;
}

.content-one .text {
    width: 80vw;
}

h1 {
    font-size: 5vmax;
    text-align: end;
}

h2 {
    font-size: 3vmax;
    text-align: start;
}

h4 {
    font-size: 2vmax;
    text-align: center;
}

.content-two {
    position: relative;
    background-repeat: no-repeat;
    z-index: 9;
    top: -5vh;
    background-image: url(/public/img/Фон.png);
    background-size: cover;
    background-position-x: center;
    font-family: Miama Nueva;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}

.content-two>h1,
.content-two>h2 {
    width: 80vw;
    opacity: 0.84;
    line-height: 8vmax;
    text-align: center;
}

.content-two>h1 {
    padding-top: 20vh;
}

.content-two .color-block {
    display: flex;
    margin: 4vw;
    margin-bottom: 40vh;
    flex-wrap: wrap;
    gap: 6vh 9vw;
    justify-content: center;
}

.content-two .color {
    width: 9vmax;
    border: 0.1vmax solid rgba(0, 0, 0, 0.25);
    height: 9vmax;
    border-radius: 50%;
    box-shadow: 2vmax 3vmax 2.5vmax 0px rgba(0, 0, 0, 0.25);
}

.content-three {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, #e3e3e3 0%, #e3e3e3 70%, #e3e1ee00 100%);
}

.content-three>h1,
.content-three>h2,
.content-three>form {
    width: 80vw;
    /* text-align: center; */
    /* font-size: 2vmax; */
}

.content-three>h1,
.content-three>h2 {
    /* font-family:'Times New Roman', Times, serif; */
    opacity: 0.84;
    line-height: 6vmax;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);

}

.content-three>h1 {
    z-index: 11;
}

.content-three>.divH2 {
    display: flex;
    border-top: 0.1vh solid rgba(0, 0, 0, 0.22);
    background: rgba(255, 255, 255, 0.49);
    width: 100vw;
    box-shadow: 0px 1vh 3vh rgba(122, 122, 122, 0.5);
    justify-content: center;
}

.content-three>div>h2 {
    width: 80vw;
    font-family: 'Times New Roman', Times, serif;
    line-height: 4vmax;
    text-align: center;
    font-style: italic;
}

.content-three>form {
    display: flex;
    gap: 5vh;
    border: 0.2vmax solid rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    background-color: #dce3dc;
    padding-left: 10vw;
    border-top-width: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 5vmax;
}

.content-three>form>p {
    font-family: Miama Nueva;
    font-size: 2vmax;

}

.content-three>form>h2 {
    font-family: 'Times New Roman', Times, serif;
}

.content-three input {
    font-size: 5vmin;
}

.content-three>form>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2vmax;
}

/* .content-three > form > button {
    width: 30vw;
    padding: 1vmax;
} */

button {
    --green: #1ECD97;
    --gray: #bbbbbb;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid var(--green);
    color: var(--green);
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
        color: white;
        background: var(--green);
    }

    &:active {
        letter-spacing: 2px;
        letter-spacing: 2px;
    }

    &:after {
        content: "SUBMIT";
    }
}

.onclic {
    width: 40px;
    border-color: var(--gray);
    border-width: 3px;
    font-size: 0;
    border-left-color: var(--green);
    animation: rotating 2s 0.25s linear infinite;

    &:after {
        content: "";
    }

    &:hover {
        color: var(--green);
        background: white;
    }
}

.validate {
    font-size: 13px;
    color: white;
    background: var(--green);

    &:after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
